<div class="pt-8 pb-4 xl:w-2/3 lg:w-2/3 md:w-2/3 sm:w-full xl:mx-40 lg:mx-40 md:mx-32 sm:mx-2 ">
  <ul class="flex text-gray-400 text-sm justify-center sm:flex-wrap">
    <li class="px-1"><a href="www.github.com/deepakMaj">About</a></li>
    <li class="px-1"><a href="#">Blog</a></li>
    <li class="px-1"><a href="#">Jobs</a></li>
    <li class="px-1"><a href="#">Help</a></li>
    <li class="px-1"><a href="#">API</a></li>
    <li class="px-1"><a href="#">Privacy</a></li>
    <li class="px-1"><a href="#">Terms</a></li>
    <li class="px-1"><a href="#">Photos</a></li>
    <li class="px-1"><a href="#">Hashtags</a></li>
    <li class="px-1"><a href="#">Locations</a></li>
  </ul>
  <p class="text-center text-gray-400 text-sm pt-2">&copy; 2020 Instagram from Facebook</p>
<div>